.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  height: 100vh;
}
.container div:nth-child(1) {
  padding: 40px;
  border: 1px solid #444444;
  border-radius: 10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 7px 5px #000000;
  box-shadow: 5px 5px 7px 5px #000000;
}
.container-btn {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
h2 {
  text-align: center;
}
