img {
  margin-left: 30px;
  width: 18.75em;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px 0;
  width: 100vw;
  height: 80px;
  background-color: #e6e8eb;
  background: linear-gradient(0deg, rgba(19,16,19,1) 100%, rgba(34,32,35,1) 0%);
  -webkit-box-shadow: 5px 5px 7px 5px #000000;
  box-shadow: 5px 5px 7px 5px #000000;
}
.right {
  display: flex;
  justify-content: right;
  padding-right: 50px;
}
form {
  display: flex;
}
form input {
  margin-right: 10px;
  margin-left: 10px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
/*  border: 2px solid #120f0f;
  border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  background-color: #a8e3df; */
  /*
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); */
}
p {
  color: #ffffff;
  margin: auto;
}
/*
.user img {
  margin: 0;
  width: 40px;
  height: 40px;
} */
